* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 5px;
}
#container {
	margin: 10vh auto auto
	auto;
	border: 1px solid;
	width: 80vw;
	height: 60vh;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	box-sizing: border-box;
}
h1 {
	position: absolute;
	text-align: center;
	top:0;
	margin-top: 2%;
	margin-bottom: 10%;
}

h2 {
	margin: 4% auto 4% auto;
}

#celsius, #fahrenheit {
	border: 1px solid;
	margin: 5% auto 5% auto;
	width: 40%;
	height: 40vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;

	transition: .9s;
}
.background-transition {
	background-image: url("https://static.pexels.com/photos/71859/spring-flowers-stroll-cherry-blossom-71859.jpeg");
	/*transition: .9s;*/
}

input {
	/*reset*/
	padding: 0;
	outline: inherit;
	font: inherit;
	color: inherit;
	background: none;
	border: none;

	margin: 1% auto 1% auto;
	border: 1px solid;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	font-size: xx-large;
	text-align: center;
	background-color: #eee;
}

#message-f, #message-c {
	text-align: center;
	font-size: 0em;
	padding-top: 3%;
	border-bottom: 1px solid;
	transition: .6s;
}
.cold #message-f, .cold #message-c, .mild #message-f, .mild #message-c, .hot #message-f, .hot #message-c {
	font-size: 2.7em;
}

#output-f, #output-c {
	text-align: center;
	font-size: 0em;
	flex: 2;
	padding-top: 10%;
	transition: .4s;
}

.cold #output-f, .cold #output-c, .mild #output-f, .mild #output-c, .hot #output-f, .hot #output-c {
	font-size: 4em;
}

#message-f sup, #message-c sup, #output-f sup, #output-c sup {
	font-size: 0.3em;
}

.cold {
	background-image: url("https://static.pexels.com/photos/5412/water-blue-ocean.jpg");
}

.mild {
	background-image: url("https://static.pexels.com/photos/122458/pexels-photo-122458.jpeg");
}

.hot {
	background-image: url("https://static.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg");
}